body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer{
    background-color: rgb(211, 169, 250);
}
section{
    background-color: rgb(243, 238, 161);
}
nav{
    background-color: rgb(89, 166, 238);
}
header{
    background-color: rgb(236, 177, 150);
}
article{
    background-color: aquamarine;
}

.grid-wrapper>*{
    height: 100vh;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-wrapper{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 240px 1fr;
    gap: 1rem;
}
header{
    grid-column: 1 / -1;
    grid-row: 1 ;
}
nav{
    grid-row: 2/ -2;
    
}
section{
    grid-column: 2 / -1;
}
footer{
    grid-column: 1 / -1;
    grid-row: -2/ -1;
}
.grid-wrapper>main{
    background-color: #ccc;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);

    
}
article{
    min-height: 100px;
    border-radius: 4px;
}